.report-body {
    padding: 0px 6% 5% 6%;
}

.report-body .report-section {
    padding: 5px 7% 5% 7%;
}

.report-hr {
    margin-left: 20px;
    margin-right: 20px;
}

.report-body .report-section>.box {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.comment-section {
    margin-top: 0px !important;
}

.text-bold {
    font-weight: bold;
}

.upvote-section {
    padding-bottom: 20px !important;
    margin: 0px;
}

#upvote-text {
    padding-left: 100px;
    display: inline-block;
}

.report-content {
    font-weight: bold !important;
    font-size: 1.5em;
}