.footer {
	padding: 20px;
	background-color: #011627;
	color: rgb(209, 207, 207);
}

.footer-glyph {
	color: #ffffff;
}

.twitter-share-button:hover {
	background-color: #ffffff;
	border-radius: 6px;
	color: #0C7ABF;
}