body {
    font-style: normal !important;
}

p {
    font-weight: normal !important;
}

.is-pattern-bg {
    background-image: url("./assets/img/pattern-bg-1.jpg");
    /* border-top: 1px solid gray; */
    margin-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.is-dark-blue p h1 a h3 {
    color: #fff !important;
}

.shield-img {
    height: 120px;
    width: 120px;
}

.rounded-img {
    border-radius: 100%;
    height: 35px !important;
    width: 35px !important;
    box-shadow: 0px 1px 1.5px 1px rgb(190, 190, 190);
}

.is-custom-yellow {
    color: #ff9f1c;
}

.responsive-table {
    overflow-x: auto;
    margin: 20px;
}

.responsive-table::-webkit-scrollbar {
    height: 6px !important;
    background-color: #f5f5f5 !important;
}

.responsive-table::-webkit-scrollbar-thumb {
    background-color: rgb(151, 149, 149);
}

.responsive-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.golden-star {
    color: #ffd700 !important;
}

.is-gold-text {
    color: #ffd700 !important;
}

.reload-btn {
    border: none;
    background-color: #011627;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    padding: 8px;
    font-size: 1em;
    width: 50px;
    height: 50px;
}

.loading {
    cursor: default;
    animation-name: loading_btn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes loading_btn {
    0%   {background-color:#011627; height: 40px; width: 40px;}
    25%  {background-color:#010b13; height: 45px; width: 45px;}
    50%  {background-color:#10324e; height: 45px; width: 45px;}
    75%  {background-color:#326a98; height: 45px; width: 45px;}
    100% {background-color:#5792c3; height: 50px; width: 50px;}
}

.gap-small {
    margin-top: 9% !important;
}

.gap-medium {
    margin-top: 12% !important;
}

.textarea {
  min-height: 80px !important;
  resize: none;
  overflow: hidden;
  border: solid 1px #ccc;
  padding: 2px 10px 2px 10px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

.textarea:focus {
  height: 200px;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}