.like-container{filter: url('#filter');}
.like-cnt{  
  position: absolute; 
  cursor: pointer;
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.3);
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  border: 2px solid #D9D9D9;
}
.like-btn{
  color: #22C65B;
}

.gp-header{font-family: georgia; display:inline-block;  position: absolute; font-size: 40px; color: #FF3860; font-style: italic; text-align: center; margin-top: -25px;}

::-moz-selection { background: transparent;}
::selection {background: transparent;}

#upvote-btn-text {
  font-size:14px;
  padding-top: 80px;
  font-style: normal;
  color: black;
}