.textarea {
  /* height: 20px; */
  min-height: 20px !important;
  resize: none;
  overflow: hidden;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 10px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
.textarea:focus {
  height: 300px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
/* 
textarea:-moz-placeholder {
	color: #999;
}
textarea::-webkit-input-placeholder {
	color: #999;
} */